@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@import "tailwindcss";

@theme {
  --color-primary: oklch(0.8829 0.1423 260.51);
  --color-primary-20: oklch(0.2 0.1423 260.51);
  --color-primary-40: oklch(0.4 0.1423 260.51);
  --color-primary-60: oklch(0.6 0.1423 260.51);
  --color-primary-80: oklch(0.8 0.1423 260.51);
  --color-primary-90: oklch(0.9 0.1423 260.51);
}